<!doctype html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts Files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Satisfy&display=swap"
          rel="stylesheet">

    <!-- CSS & JS Files -->
    <link rel="stylesheet" href="../css/wave-bsb.css">
    <link rel="stylesheet" href="../css/pricing.css">
    <script src="../js/submisson.js"></script>

    <!-- BSB Head -->
</head>

<body data-bs-spy="scroll" data-bs-target="#bsb-tpl-navbar" data-bs-smooth-scroll="true" tabindex="0">
<!-- Header -->
<header id="header" class="sticky-top bsb-tpl-header-sticky bsb-tpl-header-sticky-animationX">

    <!-- Navbar 1 - Bootstrap Brain Component -->
    <nav id="scrollspyNav"
         class="navbar navbar-expand-lg bsb-tpl-bg-blue bsb-navbar bsb-navbar-hover bsb-navbar-caret bsb-tpl-navbar-sticky"
         data-bsb-sticky-target="#header">
        <div class="container">
            <a class="navbar-brand" href="pricing.html">
                <img src="../images/branding/over_logo.png" class="bsb-tpl-logo" alt="">
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul id="bsb-tpl-navbar" class="navbar-nav justify-content-end flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" href="#scrollspyHero" aria-current="page"
                               data-bs-dismiss="offcanvas" data-bs-target="#offcanvasNavbar">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollSubmissionForm" data-bs-dismiss="offcanvas"
                               data-bs-target="#offcanvasNavbar">Submit CV & TG name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyPortfolio" data-bs-dismiss="offcanvas"
                               data-bs-target="#offcanvasNavbar">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyAbout" data-bs-dismiss="offcanvas"
                               data-bs-target="#offcanvasNavbar">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyTeam" data-bs-dismiss="offcanvas"
                               data-bs-target="#offcanvasNavbar">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyPricing" data-bs-dismiss="offcanvas"
                               data-bs-target="#offcanvasNavbar">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyBlog" data-bs-dismiss="offcanvas"
                               data-bs-target="#offcanvasNavbar">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyContact" data-bs-dismiss="offcanvas"
                               data-bs-target="#offcanvasNavbar">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>

<!-- Hero 2 - Bootstrap Brain Component -->
<section id="scrollspyHero" class="bsb-hero-2 bsb-tpl-bg-blue py-5 py-xl-8 py-xxl-10">
    <div class="container overflow-hidden">
        <div class="row gy-3 gy-lg-0 align-items-lg-center justify-content-lg-between">
            <div class="col-12 col-lg-6 order-1 order-lg-0">
                <h1 class="display-3 fw-bolder mb-3">I provide easy <br>
                    <mark class="bsb-tpl-highlight bsb-tpl-highlight-blue"><span
                            class="bsb-tpl-font-hw display-2 text-accent fw-normal">solutions</span></mark>
                    for everyone at affordable rates.
                </h1>
                <p class="fs-4 mb-5">My methods are straight, strong, and established to ensure evolution and
                    acceleration.</p>
                <div class="d-grid gap-2 d-sm-flex">
                    <button type="button" class="btn btn-primary bsb-btn-3xl rounded-pill"
                            onclick="location.href='#scrollSubmissionForm';">CV
                        Roasting
                    </button>
                    <button type="button" class="btn btn-primary bsb-btn-3xl rounded-pill">Mentoring Subscription
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-5 text-center">
                <img class="img-fluid" loading="lazy" src="../images/hero/over_owner.png" alt=""
                     style="-webkit-mask-image: url(../images/hero/hero-blob-1.svg); mask-image: url(../images/hero/hero-blob-1.svg);">
            </div>
        </div>
    </div>
</section>

<!-- Main -->
<main id="main">

    <!-- Section - Services -->
    <!-- Service 3 - Bootstrap Brain Component -->
    <section id="scrollSubmissionForm" class="py-2 py-xl-8 bsb-section-py-xxl-1">
        <div class="container mb-5 mb-md-6 mb-xl-10">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 text-center">
                    <h2 class="display-3 fw-bolder mb-4">You should provide <br>
                        <mark class="bsb-tpl-highlight bsb-tpl-highlight-yellow"><span
                                class="bsb-tpl-font-hw display-1 text-accent fw-normal">Telegram Username and upload your CV</span>
                        </mark>
                        to our services.
                    </h2>
                </div>
            </div>
        </div>

        <div class="container overflow-hidden">
            <div class="row  gx-md-4 gy-lg-0 gx-xxl-5 justify-content-center">
                <div class="col-11 col-sm-6 col-lg-3">
                    <div class="badge bsb-tpl-bg-yellow text-primary p-3 mb-4">
                        <img src="../images/others/cv_logo.png" width="26" height="26" class="bi bi-pie-chart"
                             viewBox="0 0 16 16"/>
                    </div>
                    <h4 class="mb-3">Upload CV in pdf format</h4>
                    <input type="file" id="pdf_input_form"/>
                </div>

                <div class="col-11 col-sm-6 col-lg-3">
                    <div class="badge bsb-tpl-bg-green text-primary p-3 mb-4">
                        <img src="../images/others/tg_logo.png" width="26" height="26">
                    </div>
                    <h4 class="mb-3">Enter Your Telegram Nickname</h4>
                    <input type="text" id="tg_name_input_form"/>
                </div>

                <div class="row gx-md-4 gy-lg-0 gx-xxl-5 justify-content-center ">
                    <div class="col-11 col-sm-6 col-lg-5 offer_checkbox">
                        <input type="checkbox" id="offer_checkbox"
                               onchange="document.getElementById('submit_button').disabled = !this.checked;"/>
                        <label  class="no-space-break" for="offer_checkbox"><a href="javascript:show_public_offer()">Согласен с договором публичной оферты</a></label>
                    </div>
                    <div class="gy-2 col-lg-1 col-offset-6 centered">
                        <button class="btn btn-accent bsb-btn-3xl rounded mb-0 text-nowrap"
                                onclick="submit_new_client()" id="submit_button" disabled="disabled">
                            Payment
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
