<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overridetech</title>
    <link rel="stylesheet" href="./css/pricing.css" />
    <link type="image/x-icon" href="./assets/favicon.png" rel="shortcut icon" />
    <meta
            name="description"
            content="Аллоха, меня зовут Толя, я ментор, прокладываю начинающим любителям смузи дорогу к их высокооплачиваемой работе и помогаю строить карьеру всем, кто в этом нуждается. Overridetech"
    />
    <meta name="keywords" content="Overridetech, начинающие, карьера, курс, менторинг, IT" />
</head>
<body>
<header class="header">
    <span class="header__title">overridetech</span>
    <ul class="header__links" id="header-links">
        <li class="header__links__item"><a href="https://t.me/overrideTech" target="_blank">tg</a></li>
        <li class="header__links__item"><a href="https://boosty.to/overridetech" target="_blank">boosty</a></li>
        <li class="header__links__item"><a href="https://www.twitch.tv/overrideTech" target="_blank">twitch</a></li>
        <li class="header__links__item"><a href="https://www.youtube.com/@overrideTech" target="_blank">youtube</a></li>
        <li class="header__links__item"><a href="https://vk.com/overridetech" target="_blank">vk</a></li>
        <li class="header__links__item"><a href="https://www.tiktok.com/@overridetech" target="_blank">tiktok</a></li>
        <li class="header__links__item"><a href="https://www.instagram.com/OverrideMe" target="_blank">instagram</a></li>
        <div class="header__links__close close" id="links-close"></div>
    </ul>
    <div class="burger" id="burger">
        <div class="burger__row"></div>
        <div class="burger__row"></div>
        <div class="burger__row"></div>
    </div>
</header>
<main class="main">
    <div class="first-block">
        <h1 class="first-block__title">Превращаю людей в разработчиков</h1>
        <img class="first-block__avatar" src="./assets/avatar.png" alt="avatar" />
        <img class="first-block__code-background" src="./assets/background.png" />
    </div>
    <div class="greetings">
        <h2 class="greetings__text">
            Алоха, я Толя<br /><br />
            Прокладываю дорогу к высокооплачиваемой работе и помогаю строить карьеру
        </h2>
        <ul class="greetings__tags">
            <li class="greetings__tags__item" id="resume-button">Апгрейд резюме</li>
            <li class="greetings__tags__item" id="mentoring-button">Менторинг</li>
            <li class="greetings__tags__item" id="call-button">Личный созвон</li>
        </ul>
    </div>
    <div class="info" id="resume">
        <h2 class="info__title">апгрейд резюме</h2>
        <h6 class="info__subtitle">> Для всех специалистов</h6>
        <div class="info__block">
            <ul class="info__block__list">
                <li class="info__block__list__item">Детальный анализ резюме</li>
                <li class="info__block__list__item">
                    Неограниченное количество итераций: будем вносить исправления и доработки столько раз,
                    сколько потребуется
                </li>
                <li class="info__block__list__item">
                    Предложу, как лучше сформулировать твои достижения и навыки
                </li>
                <li class="info__block__list__item">
                    Накину важных пунктов, от которых можно оттолкнуться, чтобы резюме было более цельным и
                    информативным
                </li>
                <li class="info__block__list__item">
                    С радостью взгляну на каждую обновленную версию резюме и накину еще больше идей для
                    улучшения
                </li>
            </ul>
            <div class="info__block__footer">
                <span class="info__block__footer__price" id="roasting_price"></span>
                <button class="button" id="show-upgrade-button">оплатить</button>
            </div>
        </div>
    </div>
    <div class="info" id="mentoring">
        <h2 class="info__title">МЕНТОРИНГ ПО ПОДПИСКЕ</h2>
        <h6 class="info__subtitle">> Разработка на Java</h6>
        <div class="info__block">
            <ul class="info__block__list">
                <li class="info__block__list__item">Индивидуальный подход</li>
                <li class="info__block__list__item">Теория и практика: Темы, которые нужны лично вам</li>
                <li class="info__block__list__item">
                    Подходит для всех уровней. Уже освоили теорию, но не хватает практики?<br> Вас ждет участие в
                    реальных проектах в команде и углубленное изучение специфических тем
                </li>
                <li class="info__block__list__item">Подготовка к собеседованиям</li>
                <li class="info__block__list__item">Полное сопровождение до получения оффера</li>
                <li class="info__block__list__item">Камунити разработчиков и студентов</li>
            </ul>
            <div class="info__block__footer">
                <span class="info__block__footer__price" id="mentoring_price"></span>
                <a class="button" id="show-mentoring-button">оплатить</a>
            </div>
        </div>
    </div>
    <div class="info">
        <h2 class="info__title">МЕНТОРИНГ С ПОСТОПЛАТОЙ</h2>
        <h6 class="info__subtitle">> С нуля до модного джава девелопера</h6>
        <div class="info__block">
            <ul class="info__block__list">
                <li class="info__block__list__item">
                    Обучение с нуля до middle разработчика за 8 - 12 месяцев
                </li>
                <li class="info__block__list__item">Теория, практика, участие в проектах</li>
                <li class="info__block__list__item">Подготовка к собеседованиям</li>
                <li class="info__block__list__item">
                    Полное сопровождение до получения оффера (в конце он даже будет не один)
                </li>
                <li class="info__block__list__item">Камунити разработчиков и студентов</li>
            </ul>
            <div class="info__block__footer">
                        <span class="info__block__footer__price">
                            17%
                            <span class="info__block__footer__price__small-font"
                            >от зарплаты после трудоустройства в течение 24 месяцев</span
                            >
                        </span>
                <a class="button" href="https://t.me/overrideTech" target="_blank">TG</a>
            </div>
        </div>
    </div>
    <div class="info" id="call">
        <h2 class="info__title">ПЕРСОНАЛЬНЫЙ СОЗВОН</h2>
        <h6 class="info__subtitle">> Любые темы, которые волнуют</h6>
        <div class="info__block">
            <ul class="info__block__list">
                <li class="info__block__list__item">Консультация по любым темам</li>
                <li class="info__block__list__item">Приватно, без стрима</li>
            </ul>
            <div class="info__block__footer">
                <span class="info__block__footer__price" id="call_price"></span>
                <a class="button" id="show-call-button">оплатить</a>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <h2 class="footer__title"><a href="https://t.me/javaComments" target="_blank">отзывы</a></h2>
    <h3 class="footer__subtitle"><a href="https://t.me/overrideTech" target="_blank">TG OVERRIDETECH</a></h3>
    <ul class="footer__links">
        <li class="footer__links__item">
            <a href="https://boosty.to/overridetech" target="_blank">boosty</a>
        </li>
        <li class="footer__links__item">
            <a href="https://www.twitch.tv/overrideTech" target="_blank">twitch</a>
        </li>
        <li class="footer__links__item">
            <a href="https://www.youtube.com/@overrideTech" target="_blank">youtube</a>
        </li>
        <li class="footer__links__item">
            <a href="https://github.com/nekromant322" target="_blank">github</a>
        </li>
        <li class="footer__links__item">
            <a href="https://www.tiktok.com/@overridetech" target="_blank">tiktok</a>
        </li>
        <li class="footer__links__item">
            <a href="https://www.instagram.com/OverrideMe" target="_blank">instagram*</a>
        </li>
    </ul>
    <div class="footer__mark">
        *Facebook/Instagram — проект Meta Platforms Inc., деятельность которой в России запрещена
    </div>
</footer>
<section class="popup popup_hidden" id="popup">
    <div class="popup__content">
        <div class="popup__content__header">
            <span class="popup__content__header__title">Апгрейд резюме</span>
            <div class="close" id="popup-close"></div>
        </div>
        <form class="form" id="form">
            <div class="form__fields-container">
                <div class="field">
                    <label class="field__label" for="phone">Номер телефона</label>
                    <input class="field__input" type="text" id="phone" placeholder="+7" required />
                </div>
                <div class="field">
                    <label class="field__label" for="name">Имя</label>
                    <input class="field__input" type="text" id="name" placeholder="Анатолий" required />
                </div>
                <div class="field">
                    <label class="field__label" for="tg">Ник в telegram</label>
                    <input class="field__input" type="text" id="tg" placeholder="blabla" required />
                </div>
                <div class="field">
                    <label class="field__label" for="promo">Промокод</label>
                    <input class="field__input" type="text" id="promo" placeholder="промокод" />
                </div>
                <div class="field field_pdf">
                    <label class="field__label" for="pdf">Резюме в PDF</label>
                    <div class="row">
                        <label class="field__input" for="pdf" id="pdf-label">твой pdf</label>
                        <div class="close close_dark" id="clear-input"></div>
                    </div>
                    <input class="field__input" type="file" accept="application/pdf" id="pdf" required />
                </div>
                <div class="col">
                    <div class="field field_checkbox">
                        <input type="checkbox" id="contract" class="field__input" required />
                        <label for="contract" class="field field__check"></label>
                        <label for="contract" class="field__label">
                            <a href=""
                               target="_blank">Согласен с договором публичной оферты</a></label>
                    </div>
                    <div class="field field_checkbox">
                        <input type="checkbox" id="personal-data" class="field__input" required />
                        <label for="personal-data" class="field field__check"></label>
                        <label for="personal-data" class="field__label">
                            <a href="./others/personal_data_policy.pdf" target="_blank">Согласен на обработку персональных данных</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form__footer">
                <button class="button" id="pay-button">оплатить</button>
            </div>
        </form>
    </div>
</section>
<script src="./js/pricing.js"></script>
</body>
